include formatting_functions.pug

<!-- Timetable generated on #{Date()} using GTFS-to-HTML version #{config.gtfsToHtmlVersion} -->
.timetable-container
    h2
        each route in _.uniqBy(_.flatMap(timetablePage.consolidatedTimetables, timetable => timetable.routes), 'route_id')
            span.route(style=`background-color: #${route.route_color}; color: #${route.route_text_color}`)= route.route_short_name || ''
        =timetablePage.timetable_page_label

    each timetable in timetablePage.consolidatedTimetables
        .timetable(id=`timetable_id_${formatHtmlId(timetable.timetable_id)}`)
            if timetable.service_notes !== null
                    .service-notes= timetable.service_notes

            #map-container
            script.
                var { id, geojson, routes } = !{JSON.stringify(prepareMapData(timetable))};

            table.table(summary= getTimetableSummary(timetable) data-orientation="horizontal")
                thead
                    tr
                        th.stop-header Stop
                        each trip, idx in timetable.orderedTrips
                            th.run-header= formatTripName(trip, idx, timetable)
                                each note in getNotesForTrip(timetable.notes, trip)
                                    a(href=`#note-${timetable.timetable_id}-${note.note_id}`).note-link
                                        sup= note.symbol
                tbody
                    each stop in timetable.stops
                        tr.stop-row(id=`stop_id_${formatHtmlId(stop.stop_id)}`)
                            th.stop-name
                                - var stopName = `${stop.stop_name}${stop.type === 'arrival' ? ' (Arrival)' : stop.type === 'departure' ? ' (Departure)' : ''}`;

                                if stop.stop_url
                                    a.stop-name(href=`${stop.stop_url}`)= stopName
                                        each note in getNotesForStop(timetable.notes, stop)
                                            a(href=`#note-${timetable.timetable_id}-${note.note_id}`).note-link
                                                sup= note.symbol
                                else
                                    .stop-name= stopName
                                        each note in getNotesForStop(timetable.notes, stop)
                                            a(href=`#note-${timetable.timetable_id}-${note.note_id}`).note-link
                                                sup= note.symbol
                                .stop-code= stop.stop_code
                                .stop-description= stop.stop_desc

                            each stoptime in stop.trips
                                td.stop-time(class=`${stoptime.classes.join(' ')}`)
                                    span.stop-time-text!= stoptime.formatted_time
                                    each note in getNotesForStoptime(timetable.notes, stoptime)
                                        a(href=`#note-${timetable.timetable_id}-${note.note_id}`).note-link
                                            sup= note.symbol

            if hasNotesOrNotices(timetable)
                .notes
                    if timetable.requestPickupSymbolUsed
                        .note(id=`note-${timetable.timetable_id}-request-pickup`)= `${config.requestPickupSymbol} = ${config.requestPickupText}`
                    if timetable.noPickupSymbolUsed
                        .note(id=`note-${timetable.timetable_id}-no-pickup`)= `${config.noPickupSymbol} = ${config.noPickupText}`
                    if timetable.requestDropoffSymbolUsed
                        .note(id=`note-${timetable.timetable_id}-request-dropoff`)= `${config.requestDropoffSymbol} = ${config.requestDropoffText}`
                    if timetable.noDropoffSymbolUsed
                        .note(id=`note-${timetable.timetable_id}-no-dropoff`)= `${config.noDropoffSymbol} = ${config.noDropoffText}`
                    if timetable.noServiceSymbolUsed
                        .note(id=`note-${timetable.timetable_id}-no-service`)= `${config.noServiceSymbol} = ${config.noServiceText}`
                    if timetable.interpolatedStopSymbolUsed
                        .note(id=`note-${timetable.timetable_id}-interpolated-stop`)= `${config.interpolatedStopSymbol} = ${config.interpolatedStopText}`
                    each note in _.uniqBy(timetable.notes, 'note_id')
                        .note(id=`note-${timetable.timetable_id}-${note.note_id}`)= `${note.symbol} = ${note.note}`
